* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diapo{
    width: 495px;
    height: 700px;
    position: relative;
    overflow: hidden;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(198, 0, 0, 0.656);
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 495px;
}